* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 767px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.logo img {
  width: 110px;
  height: 50px;
}

.right-nav ul {
  display: flex;
  list-style-type: none;
}

.right-nav ul li {
  font-size: 1.3rem;
  padding: 0.5em;
  border-left: 1px solid rgb(212, 212, 212);
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-search {
  color: rgb(153, 151, 151);
}

.orange {
  color: #ff4422;
}

header {
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
}

.yellow {
  background: rgb(255, 219, 56);
  padding: 1.2rem 1rem;
  font-size: 13px;
  text-align: center;
}

.news,
.news2,
.news3,
.middle-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/robot.png);
  background-size: cover;
  color: white;
  height: 30vh;
  margin: 0 0.5em 0.5em 0.5em;
}

.news2 {
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/Sprint_image.jpg);
}

.news3 {
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/work-home-side-job-gq-796x417.png);
}

.info {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.news ul li,
.news2 ul li,
.news3 ul li {
  padding: 0.5em 0.3em;
  font-size: 0.7rem;
  color: rgb(173, 169, 169);
}

.news-dsc {
  margin-bottom: 1em;
  padding: 0 0.8em;
  font-size: 0.8rem;
}

.latest-article {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.latest-news h2 a {
  color: gray;
}

.latest-article img {
  width: 80px;
  height: 80px;
  margin: 0 1em 1em 1em;
}

.latest-article h4 {
  font-size: 0.9rem;
  padding-right: 0.5em;
}

.latest-article h6 {
  color: rgb(173, 169, 169);
}

.heading {
  font-size: 1.5rem;
  margin-top: 1.5em;
  padding: 0 1em 1em 0.7em;
}

.small-heading {
  font-size: 0.7rem;
  margin-top: 4em;
  padding: 0 1em 1em 0.7em;
}

.heading a:hover {
  color: black;
}

.latest-funding ul li {
  padding: 0.3rem 0;
  list-style-type: none;
}

.latest-funding ul {
  padding-left: 0.8em;
}

.company {
  position: relative;
  background: linear-gradient(180deg, #ff4422 15%, rgb(248, 217, 217) 5%);
  margin: auto 15px;
}

.comp-title {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem 0 0 5rem;
  color: white;
}

.price {
  display: block;
  margin: 1.5rem 0 0 5rem;
  color: #333;
}

.seed {
  color: gray;
  font-size: 0.6rem;
}

.labels {
  display: block;
  padding: 1rem 0 1rem 1rem;
  color: #333;
  list-style: none;
  border-bottom: 1px solid #ff4422;
}

.lighter {
  background: #f8eae7;
}

.labels li {
  padding-bottom: 0.7rem;
}

.labels i {
  padding-right: 0.8rem;

}

.label2,
.label3 {
  display: block;
  padding: 1rem 0 0 1rem;
  color: #333;
}

.label3 {
  color: rgb(165, 161, 161);
  padding-bottom: 1rem;
}

.company img {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

.bold {
  font-weight: bold;
}

.company-holder {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

.txt-line {
  border-top: 0.1px solid #ff4422;
  width: 90%;
  margin: 0 auto;
}

.chrome {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin: 1px 8px;
  height: 10vh;
  background-color: #fdf8f6;
  padding: 0 0 2px 10px;
}

.chrome img {
  width: 80px;
  height: 100%;
}

.chrome > div {
  width: 90%;
}

.chrome-links {
  margin: 30px 23px;
}

.chrome-links ul li a {
  color: #575555;
  border-bottom: 1px solid rgb(183, 187, 183);
  padding: 10px 0px;
}

.chrome-links ul {
  width: 100%;
}

.chrome-links ul li {
  padding-bottom: 25px;
  font-size: 12px;
}

.deals {
  display: flex;
  justify-content: space-between;
}

footer {
  background: linear-gradient(rgb(36, 33, 33) 50%, rgb(12, 12, 12) 50%);
  height: 40vh;
}

.social {
  padding: 30px 10px;
  align-content: center;
  width: 100%;
}

.social ul {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-evenly;
  list-style-type: none;
  width: 50%;
  margin: auto;
}

.social ul li {
  border: 1px solid rgb(36, 33, 33);
  background: #333;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
}

.social ul li a {
  color: white;
}

.footer-links a {
  color: #aaaaaa;
}

.footer-links {
  padding: 5px 5px;
  align-content: center;
}

.footer-links ul {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  list-style-type: none;
}

.footer-links ul li {
  padding-left: 7px;
  text-align: center;
}

.bottom-footer {
  display: flex;
  margin: 2em auto;
  text-align: center;
  justify-content: center;
  bottom: 0;
  width: 60%;
  flex-wrap: wrap;
  color: #fdf8f6;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-info {
    display: flex;
    background-color: black;
  }

  .nav-info a {
    font-size: 1rem;
    color: gray;
  }

  .c-menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .c-menu a {
    font-size: 1rem;
    color: gray;
  }

  .fa-bars {
    display: none;
  }

  .right-nav {
    width: 100%;
  }

  .right-nav ul li {
    border: none;
  }

  .search {
    border-left: 1px solid rgb(212, 212, 212);
    padding-left: 15px;
  }

  .hidden {
    display: flex;
  }

  nav {
    height: 90px;
  }

  .logo img {
    width: 110px;
    height: 90px;
  }

  .news,
  .news2,
  .news3 {
    height: 100%;
    width: 100%;
  }

  .news {
    grid-area: news;
  }
  .news2 {
    grid-area: news2;
  }
  .news3 {
    grid-area: news3;
  }

  .news-holder {
    display: grid;
    grid-template-areas:
      'news news  news news2'
      'news news news news3';
    height: 100%;
    width: 98%;
    grid-gap: 8px;
  }

  .latest-news {
    display: grid;
    width: 97%;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: auto;
  }

  .latest-article img {
    width: 100%;
    margin: auto;
    height: 65%;
  }

  .latest-article {
    display: inline-block;
  }
}
