* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 767px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.logo img {
  width: 110px;
  height: 50px;
}

.right-nav ul {
  display: flex;
  list-style-type: none;
}

.labels li {
  padding-bottom: 0.7rem;
}

.chrome-links li {
  padding: 8px 0;
  font-size: 12px;
  border-bottom: 1px solid rgb(183, 187, 183);
}

.right-nav ul li {
  font-size: 1.3rem;
  padding: 0.5em;
  border-left: 1px solid rgb(212, 212, 212);
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-search {
  color: rgb(153, 151, 151);
}

.orange {
  color: #f42;
}

header {
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.middle-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.yellow {
  background: rgb(255, 219, 56);
  padding: 1.2rem 1rem;
  font-size: 13px;
  text-align: center;
}

.news,
.news2,
.news3,
.middle-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background:
    linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/robot.png);
  background-size: cover;
  color: white;
  height: 35vh;
  margin: 0 0.5em 0.5em 0.5em;
}

.news2 {
  background:
    linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/Sprint_image.jpg);
}

.news3 {
  background:
    linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/work-home-side-job-gq-796x417.png);
}

.info {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.news ul li,
.news2 ul li,
.news3 ul li {
  padding: 0.5em 0.3em;
  font-size: 0.7rem;
  color: rgb(173, 169, 169);
}

.news-dsc {
  margin-bottom: 1em;
  padding: 0 0.8em;
  font-size: 0.8rem;
}

.latest-article,
.latest-article-deals {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.latest-article-deals {
  margin: auto;
}

.footer-links a {
  color: #aaa;
}

.latest-news h2 a {
  color: gray;
}

.latest-article img,
.latest-article-deals img {
  width: 80px;
  height: 80px;
  margin: 0 1em 1em 1em;
}

.latest-article h4 {
  font-size: 0.9rem;
  padding-right: 0.5em;
}

.latest-article h6 {
  color: rgb(173, 169, 169);
}

.heading {
  font-size: 1.5rem;
  margin-top: 1.5em;
  padding: 0 1em 1em 0.7em;
}

.small-heading {
  font-size: 0.7rem;
  margin-top: 4em;
  padding: 0 1em 1em 0.7em;
}

.chrome-links li a {
  color: #575555;
}

.social ul li a {
  color: white;
}

.heading a:hover {
  color: black;
}

.latest-funding ul li {
  padding: 0.3rem 0;
  list-style-type: none;
}

.latest-funding ul {
  padding-left: 0.8em;
}

.company {
  position: relative;
  background: linear-gradient(180deg, #f42 15%, rgb(248, 217, 217) 5%);
  margin: auto 15px;
}

.comp-title {
  display: block;
  font-size: 1.1rem;
  margin: 0.5rem 0 0 5rem;
  color: white;
}

.price {
  display: block;
  margin: 1.5rem 0 0 5rem;
  color: #333;
}

.seed {
  color: gray;
  font-size: 0.6rem;
}

.labels {
  display: block;
  padding: 1rem 0 1rem 1rem;
  color: #333;
  list-style: none;
  border-bottom: 1px solid #f42;
}

.lighter {
  background: #f8eae7;
}

.labels i {
  padding-right: 0.8rem;
}

.label2,
.label3 {
  display: block;
  padding: 1rem 0 0 1rem;
  color: #333;
}

.label3 {
  color: rgb(165, 161, 161);
  padding-bottom: 1rem;
}

.company img {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

.bold {
  font-weight: bold;
}

.company-holder {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr;
  margin-top: 15px;
}

.txt-line {
  border-top: 0.1px solid #f42;
  width: 90%;
  margin: 0 auto;
}

.chrome {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin: 1px 8px;
  height: 10vh;
  background-color: #fdf8f6;
  padding: 0 0 2px 10px;
}

.chrome img {
  width: 80px;
  height: 100%;
}

.chrome > div {
  width: 90%;
}

.chrome-links {
  margin: 25px 10px;
  width: 85%;
}

.deals {
  display: flex;
  justify-content: space-between;
}

footer {
  position: relative;
  background: linear-gradient(rgb(36, 33, 33) 50%, rgb(12, 12, 12) 50%);
  height: 40vh;
}

.social {
  padding: 30px 10px;
  align-content: center;
  width: 100%;
}

.social ul {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  list-style-type: none;
  width: 50%;
  margin: auto;
}

.social ul li {
  border: 1px solid rgb(36, 33, 33);
  background: #333;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
}

.footer-links {
  padding: 5px 5px;
  align-content: center;
}

.footer-links ul {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  list-style-type: none;
}

.footer-links ul li {
  padding-left: 7px;
  text-align: center;
}

.bottom-footer {
  margin: 6em auto 0 auto;
  text-align: center;
  width: 60%;
  color: #fdf8f6;
}

.date {
  display: none;
}

.hidden,
.desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-info {
    display: flex;
    background-color: black;
  }

  .nav-info a {
    font-size: 1rem;
    color: gray;
  }

  .c-menu {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .c-menu a {
    font-size: 1rem;
    color: gray;
  }

  .fa-bars {
    display: none;
  }

  .right-nav {
    width: 100%;
  }

  .right-nav ul li {
    border: none;
  }

  .search {
    border-left: 1px solid rgb(212, 212, 212);
    padding-left: 15px;
  }

  .hidden {
    display: flex;
  }

  nav {
    height: 90px;
  }

  .logo img {
    width: 110px;
    height: 90px;
  }

  .news,
  .news2,
  .news3 {
    height: 100%;
    width: 100%;
  }

  .news {
    grid-area: news;
  }

  .news2 {
    grid-area: news2;
  }

  .news3 {
    grid-area: news3;
  }

  .news-holder {
    display: grid;
    grid-template-areas:
      'news news news2'
      'news news news3';
    height: 45vh;
    width: 98%;
    grid-gap: 8px;
  }

  .latest-news,
  .latest-deals,
  .company-holder {
    display: grid;
    width: 97%;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin: auto;
  }

  .latest-deals {
    margin-bottom: 5rem;
  }

  .latest-article img {
    width: 100%;
    margin: auto;
    height: 65%;
  }

  .latest-article-deals {
    display: block;
    font-size: 1.1rem;
  }

  .stroke {
    text-decoration: line-through;
    color: grey;
  }

  .latest-article-deals img {
    width: 100%;
    margin: auto;
    height: 25vh;
  }

  .latest-article {
    display: inline-block;
  }

  .company {
    width: 100%;
    margin: auto;
  }

  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
  }

  .md {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    display: none;
  }

  .news-holder {
    grid-template-areas:
      'news news2'
      'news news3';
    grid-template-columns: 2fr 1fr;
    height: 70vh;
  }

  .news {
    position: relative;
    background:
      linear-gradient(
        180deg,
        rgba(2, 0, 36, 0.3883928571428571) 0%,
        rgba(0, 0, 0, 0.6741071428571428) 55%,
        rgba(0, 0, 0, 1) 100%
      ),
      url(images/tnw.svg) no-repeat 15px 15px,
      url(images/cover-gradient.png),
      url(images/work-home-side-job-gq-796x417.png);
    background-size: auto, 20rem, auto;
  }

  .date {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    opacity: 50%;
  }

  .latest-news,
  .latest-deals {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .company-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .md {
    display: block;
  }
}
