* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 320px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.logo img {
  width: 110px;
  height: 50px;
}

.right-nav ul {
  display: flex;
  list-style-type: none;
}

.right-nav ul li {
  font-size: 1.3rem;
  padding: 0.5em;
  border-left: 1px solid rgb(212, 212, 212);
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-search {
  color: rgb(153, 151, 151);
}

.orange {
  color: #ff4422;
}

header {
    background: white;
    position: fixed;
}

.yellow {
  background: rgb(255, 219, 56);
  padding: 1.2rem 0.3rem;
  font-size: 13px;
  text-align: center;
}

.news,
.news2,
.news3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3883928571428571) 0%,
      rgba(0, 0, 0, 0.6741071428571428) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/robot.png);
  background-size: cover;
  color: white;
  height: 30vh;
  margin: 0 0.5em 0.5em 0.5em;
}

.news2 {
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0.3883928571428571) 0%,
        rgba(0, 0, 0, 0.6741071428571428) 55%,
        rgba(0, 0, 0, 1) 100%
      ),
      url(images/Sprint_image.jpg);
}

.news3 {
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0.3883928571428571) 0%,
        rgba(0, 0, 0, 0.6741071428571428) 55%,
        rgba(0, 0, 0, 1) 100%
      ),
      url(images/work-home-side-job-gq-796x417.png);
}

.info {
  display: flex;
  font-size: 0.8rem;
  list-style-type: none;
}

.news ul li,
.news2 ul li,
.news3 ul li {
  padding: 0.5em 0.3em;
  font-size: 0.7rem;
  color: rgb(173, 169, 169);
}

.news-dsc {
  margin-bottom: 1em;
  padding: 0 0.8em;
  font-size: 0.8rem;
}

.latest-article {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.latest-news h2 a {
    color: gray;
}

.latest-article img {
    width: 80px;
    height: 80px;
    margin: 0 1em 1em 1em;
}

.company img {
    width: 60px;
    height: 60px;
    margin: 10px auto;
}

.latest-article h4 {
    font-size: 0.8rem;
    padding-right: 0.5em;
}

.latest-article h6 {
    color: rgb(173, 169, 169);
}

.heading {
    font-size: 1.5rem;
    margin-top: 2em;
    padding: 0 1em 1em 0.7em;
}

.heading a:hover {
    color: black;
}

.latest-funding ul li {
    padding: 0.3rem 0;
    list-style-type: none;
}

.latest-funding ul {
    padding-left: 0.8em;
}

.company {
    background: #ff4422;
    background: linear-gradient(180deg, #ff4422 50%, rgba(255, 68, 34, 0.08) 50%);
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto 15px;
}

.comp-title {
    font-size: 18px;
    padding: 10px 0 20px 0;
    color: white;
}

.company span {
    font-size: 11px;
}

.company p {
    font-weight: bold;
}

.company-holder {
    margin-top: 10px;
}

.fund-dsc {
    margin: 0 15px 20px 15px;
    background-color: #fdf8f6;
}

.fund-dsc p {
    font-size: 13px;
    padding: 0.5em 2em;
}

.fund-dsc span {
    font-size: 12px;
    color: rgb(167, 165, 165);
    padding: 0 3em;
}

.txt-line {
    border-top: 0.1px solid #ff4422;
    width: 90%;
    margin: 0 auto;
}